<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% if question and options %}
        <h2>{{ question.text }}</h2>
        <form method="POST" class="quiz-form">
            {% for option in options %}
            <div class="option-container">
                <div class="radio-label-container">
                  <input type="radio" name="answer" id="option-{{ loop.index }}" value="{{ option }}" required>
                  <label for="option-{{ loop.index }}">{{ option }}</label>
                </div>
              </div>
            {% endfor %}
            <input type="hidden" name="correct_answer" value="{{ question.correct_answer }}">
            <input type="submit" value="Submit">
        </form>
    {% else %}
        <p>No questions available at the moment. Please try again later.</p>
        <a href="{{ url_for('index') }}">Back to Home</a>
    {% endif %}
</body>
</html>